body{
    background-color:  #b7c3f3!important;
}

  h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #620000;
    font-family: Cormorant Garamond, serif;
    text-transform: uppercase;
  }



  .hair-select,
  .color-select,
  .glasses-select,
  .eyes-select {
      display: flex;
      flex-wrap: wrap;
  }



  .hair-select input,
  .glasses-select input {
      width: 100%;
      height: auto;
      padding: 2px;
      border-radius: 10px;
  }

  .text {
      margin-bottom: 10px;
  }

  #brown {
    background-color: rgb(80, 44, 26);
  }

  #light-brown {
    background-color: rgb(139, 76, 54);
  }

  #dark-brown {
    background: linear-gradient(rgb(79, 47, 37) 0%, rgb(180, 125, 98) 80%);
}

  #blond-brown {
    background: linear-gradient(rgb(129, 82, 62) 0%, rgb(236, 195, 169) 100%);
}

  #light {
    background-color: rgb(221, 177, 155);
  }

  #very-light {
    background-color: rgb(243, 223, 211);
  }

  #black {
    background-color: rgb(61, 47, 41);
  }

  #red {
    background-color: rgb(93, 29, 40);
  }

  .eyes-select div {
    position: relative;
    width: 50px;
    padding-bottom: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .color-select div {
    position: relative;
    width: 50px;
    padding-bottom: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 5px;
  }

.container-btn{
    margin-top: 80px;
}




.navbar {
    width: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: #fff;
  }

.nav-link {
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.nav-link:hover {
    background: #cf1259;
    color: #ffffff !important;
}

.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }



  .btn1:hover {
    background-color: transparent;
    border-style: solid;
    border-radius: 30px;
    border-color: #cf1259;
    color: #4f6272
}

  .btn1 {
    width:150px;
    display: inline-block;
    padding: 12px;
    border-radius: 30px;
    border-color: #cf1259;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    background-color: #cf1259;
  }

  .btn-container {
    text-align: center;
  }

  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    background-color:  #cf1259 !important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-bottom: 5px;
  }

  .btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(255, 0, 0, 0.3);
    color: lightgreen !important;
    background-color: rgb(196, 2, 255) !important;
  }

  body {
    overflow-x:hidden;
}




  .btn:active {
    transform: scale(0.9);
  }
  .img {
    position: relative;
    width: 800px !important;
  }





.img {

    position: relative;
    width: 500px;
  }

  .on {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }


  #eyes-1 {
    background-color: black;
  }

  #eyes-2 {
    background-color: rgb(80, 44, 26);
  }

  #eyes-3 {
    background-color: green;
  }

  #eyes-4 {
    background-color: blue;
  }

  .container {
    text-align: center;
  }


  .form-control {
    width: 60% !important;
    margin: 0 auto !important;
    padding: 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    color: #555 !important;
    background-color: #fff5f5 !important;
    transition: border-color 0.3s ease !important;
  }



  .form-control:focus {
    outline: none;
    border-color: #ff00c3 !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5) !important;
  }



  @media (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    .hair-select div,
    .glasses-select div {
      width: 18%;
      margin-bottom: 15px;
    }

    .image-preview {
        display: flex;
        justify-content: flex-end; /* Alinea la imagen a la derecha */
        align-items: center; /* Ajusta la posición vertical al inicio */
      }
  }



  @media (min-width: 1100px) {
    /* Estilos para laptops y dispositivos de pantalla más grande */
    .hair-select div,
    .glasses-select div {
      width: 25%;
      margin-bottom: 15px;
    }

    .image-preview {
        display: flex;
        margin-top: 200px;
        justify-content: flex-end; /* Alinea la imagen a la derecha */
        align-items: flex-start; /* Ajusta la posición vertical al inicio */
      }

      .image-preview .img {
        position: absolute;
        top: 200px;
        right: 0;
      }



      .btn-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 5px;
        background-color: #fdecfd;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
        left:0px !important;

      }


  .form-control {
    width: 60% !important;
    margin: 0 auto !important;
    padding: 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    margin-top: -70px !important;
    color: #555 !important;
    background-color: #fff5f5 !important;
    transition: border-color 0.3s ease !important;
  }

  }








