body{
    background-color:  #b7c3f3!important;
}

  h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #620000;
    font-family: Cormorant Garamond, serif;
    text-transform: uppercase;
  }



  .hair-select,
  .color-select,
  .glasses-select,
  .eyes-select,
  .beard-input {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .hair-select div,
  .glasses-select div,
  .eyes-select div,
  .beard-select div {

      text-align: center;
  }

  .eyes-select div {
    position: relative;
    width: 50px;
    padding-bottom: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 5px;
  }


  .hair-select input,
  .glasses-select input,
  .beard-select input {
      width: 90%;
      height: auto;
      border-radius: 10px;
  }



  .section {
      margin-bottom: 30px;
  }

  .text {
      margin-bottom: 10px;
  }

  #brown {
    background-color: rgb(88, 51, 37);
  }

  #light-brown {
    background-color: rgb(140, 88, 65);
  }

  #light {
    background-color: rgb(217, 184, 146);
  }

  #grey {
    background-color: rgb(162, 143, 134);

  }

  #black {
    background-color: rgb(64, 52, 47);
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
  }

.nav-link {
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

body {
    overflow-x:hidden;
}

.nav-link:hover {
    background: #cf1259;
    color: #ffffff !important;
}

.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }


  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  .on {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }

.btn1:hover {
    background-color: transparent;
    border-style: solid;
    border-radius: 30px;
    border-color: #5977ff;
    color: #4f6272
}

.btn1 {
    width:150px;
    display: inline-block;
    padding: 12px;
    border-color: #5977ff;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    background-color: #5977ff;
}


.btn-container {
    text-align: center;
  }

  .btn {
    display: inline-block !important;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff !important;
    background-color:  #4000ff !important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-bottom: 5px;
  }

  .btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(0, 255, 238, 0.3);
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 183, 0) !important;
  }

  .btn:active {
    transform: scale(0.9);
  }

  .container {
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }

  .form-control {
    width: 40% !important;
    margin: 0 auto !important;
    padding: 8px !important;
    border: 1px solid #f2edff !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    color: #555 !important;
    background-color: #fff5f5 !important;
    transition: border-color 0.3s ease !important;
  }

  .form-control:focus {
    outline: none;
    border-color: #3200e9 !important;
    box-shadow: 0 0 5px rgba(50, 0, 131, 0.5) !important;
  }


  #eyes-1 {
    background-color: rgb(88, 51, 37);
  }

  #eyes-2 {
    background-color: rgb(0, 0, 0);
  }

  #eyes-3 {
    background-color: blue;
  }

  #eyes-4 {
    background-color: green;
  }


  .color-select div {
    position: relative;
    width: 50px;
    padding-bottom: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 5px;
  }

  @media (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    .hair-select div,
    .glasses-select div,
    .beard-select div {
      width: 30%;
      margin-bottom: 15px;
    }
  }

  @media (min-width: 768px) {
    /* Estilos para laptops y dispositivos de pantalla más grande */
    .hair-select div,
    .glasses-select div,
    .beard-select div {
      width: 18%;
      margin-bottom: 15px;
    }
  }










