* {
    background-color: #b7c3f3;
  }

  .nav-btn {
    width: 150px;
    display: inline-block;
    padding: 30px;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
  }

  .nav-btn:hover {
    background: #dd7596;
  }

  .line-title {
    margin-left: 30%;
    margin-right: 30%;
  }

  .line-main {
    margin: 0rem 0;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    transition: all 0.2s;
}

.btn1:hover {
    background-color: #e87a90;
}

  .btn2:hover {
    background-color: #b7f3c3;
  }

  body.block-scroll {
    overflow-y: hidden;
  }

  body .title {
    font-size: 3.0rem;
  }

  body .subtitle {
    font-size: 1.500rem;
  }

  .btn1 {
    background-color: #f3c3b7;
    border-radius: 50%;
    font-family: Cormorant Garamond, serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 80px;
    color: #000;
  }

  .btn2 {
    background-color: #09f5e9;
    border-radius: 50%;
    font-family: Cormorant Garamond, serif;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 170px;
  }

  h1 {
    text-align: center;
    padding-top: 3rem;
    color: #000000;
    font-family: Cormorant Garamond, serif;
  }

  div#Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }

  div#Avatar .female {
    border-style: solid;
    border-radius: 75%;
    color: #F71069;
    width: 200px;
    height: 300px;
  }

  div#Avatar .male {
    border-radius: 75%;
    border-style: solid;
    color: #5977ff;
    width: 200px;
    height: 300px;
    margin-left: 100px !important;
  }

  h2 {
    text-align: center;
    padding-top: 3rem;
    color: #5000b3;
  }

  div.input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

@media (max-width: 576px) {
    #Avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }

    .female, .male {
      width: 100%;
      max-width: 300px;
    }
  }
