*{
    background-color: #b7c3f3;
}


.navbar-nav {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

.nav-item {
    margin-bottom: 10px;
  }

.nav-link {
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s;
  }

.nav-link:hover {
    color: #fff;
    background-color: #ff00b7;
}

#btn1:hover{
    background-color: rgb(226, 89, 194);
}

#btn2:hover{
    color:rgb(0, 47, 255);
    background-color: rgb(77, 119, 255);
}


body.block-scroll{
    overflow-y:hidden;
}

body .title{
    font-size: 3.0rem;
}

body .subtitle{
    font-size:1.500rem
}

.navbar{
    padding-top:10px;
    border-bottom:2px solid #c4c4ff;
}

h1{
    text-align: center;
    padding-top: 3rem;
    color: #000000;
}

div #Avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

div #Avatar .female {
    border-style: solid;
    border-radius: 75%;
    color:  rgb(255, 21, 232);
    width: 200px;
    height: 300px;
}

div #Avatar .male {
    border-radius: 75%;
    border-style: solid;
    color: rgb(0, 47, 255);
    width: 200px;
    height: 300px;
}


h2{
    text-align: center;
    padding-top: 3rem;
    color: #5000b3;
}

div .input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;

}

@media (max-width: 576px) {
    #Avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .female, .male {
        width: 100%;
        max-width: 300px;
    }
}

.formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
}
