body{
    background-color: #ddeffd !important;
}

.container-nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  .navbar {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }

.nav-link {
    border-radius: 30px;
    text-decoration: none;
    color: rgba(54,54,54,.5);
    font-size: 15px;
    font-weight: bold;
}


.logo-img {
    width: 200px;
    height: 150px;
    margin-right: 10px; /* Agrega un margen derecho para separar el logo del texto */
  }

  .line-main{
    margin-top: -4% !important;
}


@media (max-width: 768px){



    .logo-img{
        width: 200px;
        height: 150px; /* Ajusta la altura según el tamaño deseado */
        margin-top: -25% !important;
        margin-left: 40% !important;
       
      }

      .navbar-toggler{
        margin-top: -22% !important;

      }

   

    }


@media (min-width: 768px){



    .logo-img{
        width: 200px;
        height: 150px; /* Ajusta la altura según el tamaño deseado */
        margin-top: -50%;
        margin-left: -70%;
      }

      .nav-item{
        margin-top: -20%;
        margin-left: 5px;
      }

      .nav-link{
        margin-left: -140%;
      }





    }


  h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #620000;
    font-family: 'Montserrat', sans-serif;    text-transform: uppercase;
  }

 .btn1:hover{
     border: 1px solid #d24565;
     color:  #d24565;
 }


 .btn1.selected{
    border: 1px solid #d24565;
    color:  #d24565;
}




  .hair-select,
  .color-select,
  .glasses-select,
  .eyes-select {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px !important;
  }


.eyes-select{
    margin-left: 10px !important;
}

  .hair-select input,
  .glasses-select input {
      width: 100%;
      height: auto;
      padding: 2px;
      border-radius: 10px;
  }

  .text {
      margin-bottom: 10px;
  }

  #brown {
    background-color: rgb(80, 44, 26);
  }

  #brown:hover {
    border: 2px solid #d24565 !important;
  }
  #light-brown {
    background-color: rgb(139, 76, 54);
  }


  #light-brown:hover {
    border: 2px solid #d24565 !important;
  }

  #dark-brown {
    background: linear-gradient(rgb(79, 47, 37) 0%, rgb(180, 125, 98) 80%);
}


#dark-brown:hover{
    border: 2px solid #d24565 !important;
}

  #blond-brown {
    background: linear-gradient(rgb(129, 82, 62) 0%, rgb(236, 195, 169) 100%);
}

#blond-brown:hover {
    border: 2px solid #d24565 !important;
}

  #light {
    background-color: rgb(221, 177, 155);
  }


  #light:hover {
    border: 2px solid #d24565 !important;
  }

  #very-light {
    background-color: rgb(243, 223, 211);
  }

  #very-light:hover {
    border: 2px solid #d24565 !important;
  }




  #black {
    background-color: rgb(61, 47, 41);
  }

  #black:hover{
    border: 2px solid #d24565 !important;
  }

  #red {
    background-color: rgb(93, 29, 40);
  }

  #red:hover {
    border: 2px solid #d24565 !important;

  }

.color-container {
margin-left: 2% !important;
}

.eyes-select{
    margin-left: -1% !important;
}

  .eyes-select div {
    position: relative;
    width: 50px;
    padding-bottom: 50px !important;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 2px;
  }

  .color-select div {
    position: relative;
    width: 50px;
    padding-bottom: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 7px;
  }

.container-btn{
    margin-top: 50px;
    margin-left: 7.5%;

}






.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

.nav-link {
    border-radius: 30px;
    text-decoration: none;
    color: rgba(54,54,54,.5);
    font-size: 15px;
    font-weight: bold;
}




.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }





  .btn1 {
    width:150px;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.9s;
    text-align: center;
    background-color: transparent;
    margin-left: 20px;
    border: 1px solid #c4c4c5;
    font-family: 'Montserrat', sans-serif;
  }



  @media (min-width: 768px) {


    .logo-img {
        margin-top: -50px !important;
        width: 200px;
        height: 150px;
        margin-left: -120% !important;

      }




 
    }



 


  body {
    overflow-x:hidden;
}





  .img {
    position: relative;
    width: 800px !important;
  }



  .on {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }

  #btn-continue {
    color: #fff;
    background-color: #d24565;
    border-color: #d24565;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: end !important;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;


}
#glasseschange {
    display: none;
  }

  .glasses-select > div:hover{
    border: 1px solid #d24565;

  }


  .glasses-select > div.selected {
    border: 2px solid #d24565;


  }

.eyes-select div:hover {
  border: 1px solid #d24565;
}

.eyes-select div.selected{
    border: 2px solid #d24565;


}

.color-select .col-6:hover {
    border-color: 1px solid #d24565;
  }
.hair-select .col-6 {
    cursor: pointer;
  }

  .hair-select .col-6.selected {
    border: 2px solid #d24565;
  }

  .hair-select .col-6:hover {
    border: 1px solid #d24565;
  }


.color-select .col-6.selected {
    border: 2px solid #d24565;
  }

.btn1.selected {
    border: 2px solid #d24565 !important;
  }

#btn-continue:hover {
    background-color: #a5364d;
}



  #eyes-1 {
    background-color: rgb(62, 64, 62);
  }

  #eyes-2 {
    background-color: rgb(142, 94, 77);
  }

  #eyes-3 {
    background-color: rgb(60, 99, 53);
  }

  #eyes-4 {
    background-color:  rgb(94, 147, 150);
  }

  .container {
    text-align: center;
  }


  .form-control {
    width: 70% !important;
    height: 40% !important;
    margin: 0 auto !important;
    padding: 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    color: #555 !important;
    background-color: #fff5f5 !important;
    transition: border-color 0.3s ease !important;
  }



  .form-control:focus {
    outline: none;
    border-color: #ff00c3 !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5) !important;
  }



  @media (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    .hair-select div,
    .glasses-select div {
      width: 30%;
      margin-bottom: 15px;
    }

    .container-btn{
        margin-top: 10px;
        margin-left: 7.5%;
        
    }
    

    .image-preview {
        display: flex;
        justify-content: flex-end; /* Alinea la imagen a la derecha */
        align-items: center; /* Ajusta la posición vertical al inicio */
      }
  }



  @media (min-width: 1100px) {
    /* Estilos para laptops y dispositivos de pantalla más grande */
    .hair-select div,
    .glasses-select div {
      width: 25%;
      margin-bottom: 15px;
    }

    .image-preview {
        display: flex;
        margin-top: 200px;
        justify-content: flex-end; /* Alinea la imagen a la derecha */
        align-items: flex-start; /* Ajusta la posición vertical al inicio */
      }

      .image-preview .img {
        position: absolute;
        top: 200px;
        right: -35px;
      }

      .mainimg {
        width: 400px !important;
      }



      .btn-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.5rem 1rem;
        background-color: #f2f8fd;
        z-index: 5;
        height: 12%;
        font-family: 'Montserrat', sans-serif;

      }



  }








