body{
    background-color: #b7c3f3!important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
  }

  h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #0039f5;
    font-family: Cormorant Garamond, serif;
    text-transform: uppercase;
  }

  .hair-select,
  .color-select,
  .beard-select,
  .eyes-select {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
  }

  .hair-select div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }

  .color-select div {
    position: relative;
    width: 50%;
    padding-bottom: 100%;
  }

  .eyes-select div {
    position: relative;
    width: 50%;
    padding-bottom: 100%;
  }

  .beard-select div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }

  .beard-select input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .hair-select input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .color-select div {
    border-radius: 50%;
    padding-bottom: 50%;
    cursor: pointer;
  }

  #brown {
    background-color: #964B00;
  }

  #light-brown {
    background-color: #D2B48C;
  }

  #light {
    background-color: #f2e7d3;
  }

  #grey {
    background-color: #333333;
  }

  #black {
    background-color: #000000;
  }

  .eyes-select div {
    border-radius: 50%;
    padding-bottom: 50%;
    cursor: pointer;
  }

  .glasses-select {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
  }

  .glasses-select div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }

  .glasses-select input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .nav-btn {
    width:150px;
    display: inline-block;
    padding: 30px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

.nav-btn:hover {
    color: #ffffff !important;
    background: #cf1259;
}

.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link {
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    transition: all 0.2s;
  }

.img{
    position:relative;
    margin-top: -100px;
}

.on{
    position: absolute;
    top: 0;
    left: 0;
    right: 100rem;
    height: 300px;
    width: 300px;
}

  .img {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-top: -40px;
  }

  .btn-primary:hover{
    background-color: rgb(2, 13, 82) !important;
  }

  .on {
    position: absolute;
    top: 0;
    left: 0;
    right: 100;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }


  .btn-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.btn1:hover {
    background-color: transparent;
    border-style: solid;
    border-radius: 30px;
    border-color: #5977ff;
    color: #4f6272
}


.btn1 {
    width:150px;
    display: inline-block;
    padding: 12px;
    border-color: #5977ff;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    background-color: #5977ff;
}

.btn-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

#btn-continue:hover{
    background-color: transparent;
    border-style: solid;
    border-radius: 30px;
    border-color: #5977ff;
    color: #4f6272
}

@media only screen and (max-width: 600px) {
    .btn-container {
        padding: 5px;
    }

    #btn-continue {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .img {
      position: absolute;
      top: 60%;
      left: 80%;
      transform: translate(-50%, -50%);
    }
  }

  @media screen and (max-width: 768px) {
    button {
      display: block;
      width: 100%;
      margin: 10px 0;
    }
  }

  #eyes-1 {
    background-color: brown;
  }

  #eyes-2 {
    background-color: rgb(0, 0, 0);
  }

  #eyes-3 {
    background-color: blue;
  }

  #eyes-4 {
    background-color: green;
  }

  #nameMale {
    position: absolute;
    font-family: Cormorant Garamond, serif;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    padding: 10px;
    border: 2px solid #0008ff;
    border-radius: 10px;
    background-color: #ffefef;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    outline: none;
    transition: all 0.3s ease-in-out;
    width: 20%;
    left: 80%;
    top: 80%;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
  }

  #nameMale:focus {
        border-color: #01ffdd;
        box-shadow: 1px 1px 5px rgba(0, 242, 186, 0.5);
    }








