body{
    background-color: #ddeffd !important;
    color: #363636;
}

.container-nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  .navbar {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }

.nav-link {
    border-radius: 30px;
    text-decoration: none;
    color: rgba(54,54,54,.5);
    font-size: 15px;
    font-weight: bold;
}


.logo-img {
    width: 200px;
    height: 150px;
    margin-right: 10px; /* Agrega un margen derecho para separar el logo del texto */
  }

  .line-main{
    margin-top: -4% !important;
}



@media (min-width: 768px){



    .logo-img{
        width: 200px;
        height: 150px; /* Ajusta la altura según el tamaño deseado */
        margin-top: -30%;
        margin-left: -70%;
      }

      .nav-item{
        margin-top: -20%;
        margin-left: 5px;
      }

      .nav-link{
        margin-left: -140%;
      }





    }


  h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #620000;
    font-family: Cormorant Garamond, serif;
    text-transform: uppercase;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
  }

  .hair-select input,
  .glasses-select input,
  .beard-select input {
      width:100%;
      padding: 2px;
      border-radius: 10px;
      margin-top: 30px !important;
  }

  .eyes-select, .color-select, .color-beard-select{
    margin-left: 10px !important;
    margin-top: 30px !important;
}



.img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
  }

  .on {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }



  .eyes-select div {
    position: relative;
    width: 50px;
    padding-bottom: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .btn1.selected {
    border: 2px solid #d24565 !important;
    color:  #d24565;
  }



  #brown {
    background-color: rgb(88, 51, 37);
  }

  #brown:hover{
    border: 1px solid #d24565;

  }


  #light-brown {
    background-color: rgb(140, 88, 65);
  }

  #light-brown:hover {
    border: 1px solid #d24565;
  }


  #light {
    background-color: rgb(217, 184, 146);
  }

  #light:hover{
    border: 1px solid #d24565;
  }

  #grey {
    background-color: rgb(162, 143, 134);
  }




  #grey:hover {
    border: 1px solid #d24565;

  }

  .color-select .col-6.selected {
    border: 2px solid #d24565;
  }

  .color-beard-select .col-6.selected {
    border: 2px solid #d24565;
  }




  #beard-brown {
    background-color: rgb(88, 51, 37);
  }

  #beard-brown:hover{
    border: 1px solid #d24565;

  }


  #beard-light-brown {
    background-color: rgb(140, 88, 65);
  }

  #beard-light-brown:hover {
    border: 1px solid #d24565;
  }


  #beard-light {
    background-color: rgb(217, 184, 146);
  }

  #beard-light:hover{
    border: 1px solid #d24565;
  }

  #beard-grey {
    background-color: rgb(162, 143, 134);
  }




  #beard-grey:hover {
    border: 1px solid #d24565;

  }

  #beard-black {
    background-color: rgb(64, 52, 47);
  }

  #beard-black:hover {
    border: 1px solid #d24565;
  }



  #black {
    background-color: rgb(64, 52, 47);
  }

  #black:hover {
    border: 1px solid #d24565;
  }

  .btn1:hover{
     border: 1px solid #d24565;
     color:  #d24565;
  }


  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  #glasseschange {
    display: none;
  }

  .hair-select input.selected {
    border: 2px solid #d24565;
  }


.hair-select input:hover {
    border: 1px solid #d24565;
  }

  .beard-select input.selected {
    border: 2px solid #d24565;
  }


.beard-select input:hover {
    border: 1px solid #d24565;
  }

  .glasses-select input:hover{
    border: 1px solid #d24565;

  }


  .glasses-select input.selected {
    border: 2px solid #d24565;


  }





.navbar {
    width: 100%;
    top: 0;
    left: 0;
  }
  @media (min-width: 992px) {
    .glasses-select {
      margin-left: -6%;
    }

    .eyes-select {
      margin-left: -10% !important;
    }

    .color-select {
      margin-left: -1% !important;
    }

    .color-beard-select {
      margin-left: -1% !important;
    }

    .container-btn {
      margin-top: 50px !important;
      margin-left: 7.5% !important;
    }
  }
body {
    overflow-x:hidden;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

.nav-link {
    border-radius: 30px;
    text-decoration: none;
    color: rgba(54,54,54,.5) !important;
    font-size: 15px;
    font-weight: bold;
}





.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .eyes-select div:hover {
    border: 1px solid #d24565;
  }

  .eyes-select div.selected{
      border: 2px solid #d24565;


  }

  .btn1:hover {
    background-color: transparent;
    border-style: solid;
    border-bottom: 1px solid #d24565;
}

  .btn1 {
    width:150px;

    display: inline-block;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.9s;
    text-align: center;
    background-color: transparent;
    margin-left: 20px;
    border: 1px solid #c4c4c5 !important;


  }
  @media (max-width: 768px) {







    .logo-img {
        margin-top: -30px !important;
        width: 150px;
        height: 100px;

      }
    }

  #btn-continue {
    color: #fff;
    background-color: #d24565;
    border-color: #d24565;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: end !important;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;


}

#btn-continue:hover {
    background-color: #a5364d;
}







  #eyes-1 {
    background-color: rgb(142, 94, 77);
  }

  #eyes-1:hover{
    border: 1px solid #d24565;

  }

  #eyes-2 {
    background-color: rgb(62, 64, 62);

  }

  #eyes-2:hover{
    border: 1px solid #d24565;

  }

  #eyes-3 {
    background-color:  rgb(94, 147, 150);
  }

  #eyes-3:hover {
    border: 1px solid #d24565;
  }

  #eyes-4 {
    background-color: rgb(60, 99, 53);
  }

  #eyes-4:hover {
    border: 1px solid #d24565;
  }

.eyes-select div{
    margin-left: 5px !important;
}
  .color-select div {
    position: relative;
    width: 50px;
    height: 40px;
    padding-bottom: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 5px !important;
  }

  .color-beard-select div {
    position: relative;
    width: 50px;
    height: 40px;
    padding-bottom: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 5px !important;
  }

  @media (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    .hair-select div,
    .glasses-select div,
    .beard-select div {
      width: 30%;
      margin-bottom: 15px;
    }
  }

  @media (min-width: 768px) {
    /* Estilos para laptops y dispositivos de pantalla más grande */
    .hair-select div,
    .glasses-select div,
    .beard-select div {
      width: 50%;
      margin-bottom: 15px;
    }
  }



  @media (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    .hair-select div,
    .glasses-select div,
    .beard-select div {
      width: 30% !important;
      margin-bottom: 15px;
    }





    .image-preview {
        display: flex;
        justify-content: center; /* Alinea la imagen a la derecha */
        align-items: center; /* Ajusta la posición vertical al inicio */
      }



  }

  @media (min-width: 1100px) {
    /* Estilos para laptops y dispositivos de pantalla más grande */
    .hair-select div,
    .glasses-select div,
    .beard-select div
     {
      width: 25%;
      margin-bottom: 15px;
    }

    .btn-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.5rem 1rem;
        background-color: #f2f8fd;
        z-index: 5;
        height: 12%;

      }

      .mainimg{
        width: 400px !important;
      }



    .image-preview {
        display: flex;
        margin-top: 220px;
        justify-content: flex-end; /* Alinea la imagen a la derecha */
        align-items: flex-start; /* Ajusta la posición vertical al inicio */
      }

      .form-control {
        width: 80% !important;
        margin: 0 auto !important;
        padding: 8px !important;
        border: 1px solid #ccc !important;
        border-radius: 4px !important;
        font-size: 14px !important;
        color: #555 !important;
        background-color: #fff5f5 !important;
        transition: border-color 0.3s ease !important;
        margin-top: -170px !important;
        margin-left: 20px !important;

      }

      .image-preview .img {
        position: absolute;
        top: 220px;
        left: 800px;
      }
  }

















