body{
    background-color:  #b7c3f3!important;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;

  }

  h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #620000;
    font-family: Cormorant Garamond, serif;
    text-transform: uppercase;
  }

  .hair-select,
  .color-select,
  .eyes-select {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
  }

  .hair-select div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }

  .glasses-select {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
  }

  .glasses-select div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }

  .glasses-select input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }


  .color-select div {
    position: relative;
    width: 50%;
    padding-bottom: 100%;
  }

  .eyes-select div {
    position: relative;
    width: 50%;
    padding-bottom: 100%;
  }

  .hair-select input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }



  .color-select div {
    border-radius: 50%;
    padding-bottom: 50%;
    cursor: pointer;
  }

  .eyes-select div {
    border-radius: 50%;
    padding-bottom: 100%;
    cursor: pointer;
  }

  #brown {
    background-color: #964B00;
  }

  #light-brown {
    background-color: #D2B48C;
  }

  #dark-brown {
    background-color: #654321;
  }

  #blond-brown {
    background-color: #c2a878;
  }

  #light {
    background-color: #f2e7d3;
  }

  #very-light {
    background-color: #F5F5F5;
  }

  #black {
    background-color: #000000;
  }

  #red {
    background-color: #8B0000;
  }

  .eyes-select div {
    position: relative;
    width: 50%;
    padding-bottom: 50%;
  }

  .nav-btn {
    width:150px;
    display: inline-block;
    padding: 30px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

.nav-btn:hover {
    background: #dd7596;
}

.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link {
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    transition: all 0.2s;
  }

  .btn-primary {
    background-color: #eb08eb !important;
    margin-top: 10px;
    color: white !important;
    font-family: Cormorant Garamond, serif;
    text-transform: uppercase;
    border-color: rgb(255, 2, 154) !important;
    border-radius: 50% !important;

  }

  .btn-primary:hover{
    background-color: rgb(130, 6, 202) !important;
  }


  .btn-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

#btn-continue {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

  .images {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-top: -0px;
  }

  .on {
    position: absolute;
    top: 0;
    left: 0;
    right: 100;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }



@media only screen and (max-width: 600px) {
    .btn-container {
        padding: 5px;
    }

    #btn-continue {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .images {
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-50%, -50%);
    }
  }

  @media screen and (max-width: 768px) {
    button {
      display: block;
      width: 100%;
      margin: 10px 0;
    }
  }


  #eyes-1 {
    background-color: black;
  }

  #eyes-2 {
    background-color: brown;
  }

  #eyes-3 {
    background-color: green;
  }

  #eyes-4 {
    background-color: blue;
  }

  #nameFemale {
    position: absolute;
    font-family: Cormorant Garamond, serif;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    padding: 10px;
    border: 2px solid #ff00c8;
    border-radius: 10px;
    background-color: #f9e3fe;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    outline: none;
    transition: all 0.3s ease-in-out;
    width: 20%;
    left: 80%;
    top: 80%;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
  }

  #nameFemale:focus {
        border-color: #00fae9;
        box-shadow: 1px 1px 5px rgba(242, 0, 242, 0.5);
    }


