
.nav-btn {
    width:150px;
    display: inline-block;
    padding: 30px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

.nav-btn:hover {
    color: #ffffff !important;
    background: #cf1259;
}

.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link {
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    transition: all 0.2s;
  }

  body {
    background-color: #b7c3f3 !important;
  }

  .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-12.pages .page-wrapper img:hover {
    cursor: pointer;
    box-shadow: 0 0 50px rgba(141, 2, 254, 0.3);

}

h1{
    color:#cf1259;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#2a055e;
    text-align: center;
}

.smaller-text {
    font-size: 5vh !important;
}

.select {
    border: 2px solid;
    border-image: linear-gradient(to right, #ff00ff, #e20404);
    border-image-slice: 1;
    padding: 8px;
    border-radius: 4px;
}

  .center {
    display: flex;
    justify-content: center;
}

  .pages .page-wrapper .extra,
.pages .page-wrapper .index {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  margin-top: 2px;
  margin-right: 5px;
  justify-content: center;
  font-size: 12px;
}

.page-wrapper{
    width: 120vh;
    position: relative;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.pages .page-wrapper img {
    width: 100% !important;
    max-width: 300px !important;
    height: auto;
    border-radius: 0.3rem;
    margin-right: 10px;
    margin-bottom: 10px;
}


  .title-wrapper {
    position: absolute;
    top: 0;
    right: 10;
    width: 40%;
    padding: 1rem;
  }

  #names, #names1, #names2, #names3 {
    margin: 0;
    font-size: 3vh;
    font-weight: bold;
    text-align: right;
    color: #333;
  }

  .btn-primary {
    background-color: #ff00e1 !important;
    color: #fdfdfd !important;
    border-color: #bb0000 !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    transition: background-color 0.3s, color 0.3s !important;
    margin: 5px 0px;
    margin-left: 4px !important;
    display: flex;
    width: 180px;
}

.btn-primary:hover {
    background-color: #4cb9f8 !important;
    border-color: #6003ac !important;
    color: #fff !important;
}


@media (max-width: 768px) {
    #names, #names1, #names2, #names3 {
      font-size: 8px;
    }

  }








