
.nav-btn {
    width:150px;
    display: inline-block;
    padding: 30px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

.nav-btn:hover {
    color: #ffffff !important;
    background: #cf1259;
}

.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link {
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    transition: all 0.2s;
  }

  body {
    background-color: #b7c3f3 !important;
  }

  .page-wrapper {
    width: 370px;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 580px;
  }

  .pages .page-wrapper .extra,
  .pages .page-wrapper {
    position: absolute;
    left: 0;
    top: 0;
  }

  .pages .page-wrapper img {
    width: 100%;
    border-radius: 0.3rem;
  }

  .title-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    padding: 1rem;
  }

  #names {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    color: #333;
  }

  .btn1 {
    background-color: #f90441;
    color: rgb(245, 241, 241);
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    transition: background-color 0.3s ease;
    font-family: Cormorant Garamond, serif;
    margin-left: 20px;
  }

  .btn1:hover {
    background-color: #ff73f8;
    cursor: pointer;
    border-radius: 10px;
    color: black;
  }









