*,
*:after,
*:before {
  box-sizing: border-box;
}

/* Estilos para el modal */
.modal-content {
    position: relative;
  }

  /* Estilos para la imagen compuesta y sus capas */
  .image-composition {
    position: relative;
  }

  .image-composition img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
  }


.container-nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }


.nav-link {
      font-family: 'Montserrat', sans-serif;

    text-decoration: none;
    color: rgba(54,54,54,.5);
    font-size: 15px;
    font-weight: bold;
}




  .line-main{
    margin-top: -4% !important;
}



@media (min-width: 768px){

    .nav-link{
      margin-right: -60px !important;
    margin-left: -130%;
  }



       .navbar {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
    background-color: #ddeffd !important;
  height: 10%;
}



.logo-img{
    width: 160px !important;
    height: 150px !important; /* Ajusta la altura según el tamaño deseado */
    margin-top: -35%;
    margin-left: -35%;
    margin-bottom: -20% !important;

  }

  .nav-item{
    margin-left: 50px !important;

  }








    }

.button-wrapper {
  display: flex;
  justify-content: center;
}

.buttons-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 100%;
}


.page-controls {
  position: absolute;
  top: -8px;
  left: -10px !important;
  z-index: 20;
}

.edit-icon {
  font-size: 20px;
  color: red;
  /* Agrega otros estilos de icono según tus necesidades */
}
@media (max-width: 768px) {
  .buttons-container {
    justify-content: center;
  }
}


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #ddeffd !important;
}

.text-center {
  text-align: center !important;
  font-family: 'Montserrat', sans-serif;

}

.edit-icon {
color: #ff006a;
  }


  #btn-continue {
    color: #fff;
    background-color: #d24565;
    border-color: #d24565;
    transition: background-color 0.3s ease;
    display: block;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20000;
  }



  #btn-continue:hover {
    background-color: #a5364d;
}




.nav-link {
      font-family: 'Montserrat', sans-serif;

    text-decoration: none;
    color: rgba(54,54,54,.5);
    font-size: 15px;
    font-weight: bold;
}



body {
    overflow-x:hidden;
}

.container {
    margin-left:5% !important;
  }

.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}



  .nav-item {
        text-align: center;

    margin-bottom: 10px;
  }



.pages {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position:relative;
    width: 100%;
}

div {
    display: block;
}


.pages .page-wrapper {
    width: 40vw;
    position: relative;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;

}



  *, :after, :before {
    box-sizing: border-box;
}


.pages .page-wrapper .extra,
.pages .page-wrapper .index {
  position: absolute;
  left: 0;
  top: 0;
}



.pages .page-wrapper img {
    width: 200px !important;
    max-width: 300px !important;
    height: auto;
    border-radius: 0.3rem;
    width: 100%;
    box-sizing: border-box;
}



#product-step {
    padding: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 10px;
    overflow: hidden;
  }

  .button-wrapper {
    display:flex;
    margin-left: 10% !important;
  }



  @media (max-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }


  .page-nav {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .aniversary-text {
    position: relative;
    top: -280px;
    left:3%;
    font-family: 'Montserrat', sans-serif;

  }

  .birthday-text {
    position: relative;
    top: -280px;
    left:4%;
    font-family: 'Montserrat', sans-serif;

  }
.tittle-wrapper h3 {
    position:absolute;
    transform: translate(-50%, -50%);
    top:10%;
    left:18%;

     max-height: 28%; font-family: 'Montserrat', sans-serif;
     z-index: 6;
      font-size: 0.7rem !important;

}



@media (max-width: 768px) {
    .tittle-wrapper h3{
        transform: translate(-50%, -50%);
        top:15%;
        left:50%;

          font-family: 'Montserrat', sans-serif 0.9rem;
         z-index: 6;
          font-size: 0.7rem !important;


  }


}
h1  {
  margin: 0;
}


@media (max-width: 768px) {


       .navbar {
  width: 100%;

  top: 0;
  left: 0;
  z-index: 9999;
    background-color: #ddeffd !important;
}



    .logo-img{
        width: 160px;
        height: 150px; /* Ajusta la altura según el tamaño deseado */
        margin-top: -35% !important;
        margin-bottom: -20% !important;
        margin-left: 50% !important;

      }



      .navbar-toggler{
        margin-top: -10% !important;

      }

    }


h4{
    color: #363636;    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h5{
    color: #363636;    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    position: relative;
    background-color: #ddeffd !important;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
  }

  .image-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
  }

  .image-group img {
    margin: 5px;
    cursor: pointer;
  }

  .image-group img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal1 .image-group1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */    margin-top: 20px;
  }

  #myModal1 .image-group1 img {
    width: 100px !important;
    margin: 5px;
    cursor: pointer;
  }

  #myModal1 .image-group1 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal3 .image-group3 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal3 .image-group3 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group3 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal4 .image-group4 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal4 .image-group4 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group4 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal5 .image-group5 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal5 .image-group5 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group5 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal6 .image-group6 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal6 .image-group6 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group6 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal7 .image-group7 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal7 .image-group7 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group7 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal8 .image-group8 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal8 .image-group8 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group8 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal9 .image-group9 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal9 .image-group9 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group9 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal10 .image-group10 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal10 .image-group10 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group10 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal11 .image-group11  {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal11 .image-group11 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group11 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal12 .image-group12 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal12 .image-group12 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group12 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal13 .image-group13 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal13 .image-group13 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group13 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal14 .image-group14 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal14 .image-group14 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal14 .image-group14 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal15 .image-group15 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal15 .image-group15 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal15 .image-group15 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal16 .image-group16 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal16 .image-group16 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal16 .image-group16 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal17 .image-group17 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal17 .image-group17 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal17 .image-group17 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

 #myModal18 .image-group18 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

 #myModal18 .image-group18 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

 #myModal18 .image-group18 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal19 .image-group19 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal19 .image-group19 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal19 .image-group19 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal20 .image-group20 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal20 .image-group20 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal20 .image-group20 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal21 .image-group21 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal21 .image-group21 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal21 .image-group21 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal22 .image-group22 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal22 .image-group22 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal22 .image-group22 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal23 .image-group23 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px;
  }

  #myModal23 .image-group23 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal23 .image-group23 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal24 .image-group24 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal24 .image-group24 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal24 .image-group24 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal25 .image-group25 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal25 .image-group25 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal25 .image-group25 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal26 .image-group26 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal26 .image-group26 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal26 .image-group26 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal27 .image-group27 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal27 .image-group27 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal27 .image-group27 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal28 .image-group28 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal28 .image-group28 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal28 .image-group28 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal29 .image-group29 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal29 .image-group29 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal29 .image-group29 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal30 .image-group30 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal30 .image-group30 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal30 .image-group30 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal31 .image-group31 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal31 .image-group31 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal31 .image-group31 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal32 .image-group32 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal32 .image-group32 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal32 .image-group32 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal33 .image-group33 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal33 .image-group33 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal33 .image-group33 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal34 .image-group34 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal34 .image-group34 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal34 .image-group34 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal35 .image-group35 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal35 .image-group35 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal35 .image-group35 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal36 .image-group36 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal36 .image-group36 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal36 .image-group36 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal37 .image-group37 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal37 .image-group37 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal37 .image-group37 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


#myModal38  .image-group38 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

#myModal38  .image-group38 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

#myModal38  .image-group38 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal39 .image-group39 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal39 .image-group39 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal39 .image-group39 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal40 .image-group40 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal40 .image-group40 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal40 .image-group40 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  #guardarDatos {
    width:75% !important;
    justify-content: center;
    align-items:center;
  }

  #myModal41 .image-group41 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal41 .image-group41 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal41 .image-group41 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal42 .image-group42 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal42 .image-group42 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal42 .image-group42 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


 #myModal43 .image-group43 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

 #myModal43 .image-group43 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

 #myModal43 .image-group43 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal44 .image-group44 {
    display: flex !important;
    flex-wrap: wrap !important;
 justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal44 .image-group44 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal44 .image-group44 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal45 .image-group45 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */    margin-top: 20px !important;
  }

  #myModal45 .image-group45 img {
    width: 100px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal45 .image-group45 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }



  h2{
    text-align: center;
    color: #ff006a;
    font-family: 'Montserrat', sans-serif;
  }

  .close1, .close2, .close3, .close4, .close5, .close6, .close7, .close8, .close9, .close10, .close11, .close12, .close13, .close14, .close15, .close16, .close17, .close18, .close19, .close20, .close21, .close22, .close23, .close24, .close25, .close26, .close27, .close28, .close29, .close30, .close31, .close32, .close33, .close34, .close35, .close36, .close37, .close38, .close39, .close40, .close41, .close42, .close43, .close44, .close45{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    font-weight: bold;
    color: #ff0000;
    padding: 5px 10px;
    cursor: pointer;
  }

  .custom-alert {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  }









  @media screen and (max-width: 768px) {
    .page-wrapper {
        width: 100%;
        left: 0;
    }

    .birthday-text {
        position: relative;
        top: -55vw !important;
        left:17%;
        font-size: 0.7rem;

      }

      .aniversary-text {
        position: relative;
        top: -55vw !important;
        left:14%;
        font-size: 0.7rem;

      }


    .pages .page-wrapper img {
        width: 100% !important;
        max-width: 100% !important;
        margin-right: 0;
    }



  #text-page2{
      left: 16% !important;
  }

  #text-page3{
      left: 16% !important;
  }


  #text-page4{
      left: 11% !important;
  }

  #text-page5{
    left: 11% !important;
}

#text-page6{
    left: 16% !important;
}

#text-page7{
    left: 10% !important;
}


#text-page8{
    left: 13% !important;
}

#text-page9{
  left: 16% !important;
}

#text-page10{
  left: 17% !important;
}

#text-page11{
  left: 18% !important;
}


#text-page12{
  left: 16% !important;
}

#text-page13{
  left: 16% !important;
}

#text-page14{
  left: 18% !important;
}

#text-page15{
  left: 30% !important;
}


#text-page16{
  left: 25% !important;
}


#text-page17{
  left: 16% !important;
}


#text-page18{
  left: 6% !important;
}



#text-page19{
  left: 16% !important;
}



#text-page20{
  left: 16% !important;
}


#text-page22{
  left: 35% !important;
}

#text-page23{
  left: 30% !important;
}

#text-page25{
  left: 10% !important;
}

#text-page26{
  left: 26% !important;
}


#text-page27{
  left: 26% !important;
}

#text-page28{
  left: 16% !important;
}

#text-page29{
  left: 14% !important;
}

#text-page30{
  left: 16% !important;
}


#text-page31{
  left: 16% !important;
}

#text-page32{
  left: 18% !important;
}

#text-page33{
  left: 15% !important;
}

#text-page34{
  left: 16% !important;
}

#text-page35{
  left: 16% !important;
}


#text-page36{
  left: 16% !important;
}

#text-page37{
  left: 16% !important;
}

#text-page38{
  left: 16% !important;
}

#text-page39{
  left: 16% !important;
}

#text-page40{
  left: 19% !important;
}


#text-page41{
  left: 22% !important;
}

#text-page42{
  left: 16% !important;
}

#text-page43{
  left: 16% !important;
}

#text-page44{
  left: 20% !important;
}

#text-page45{
  left: 16% !important;
}


    #text-page21{
        left: 20% !important;
    }

    #text-page24{
        left: 34% !important;
    }

    #text-page41{
        left: 20% !important;
    }


    #text-page45{
        left: 35% !important;
    }


    h1  {
        margin: 0;
        font-size: 2vh !important;
        color: #333;
        font-family: 'Montserrat', sans-serif;
      }
    }




        @media (max-width: 768px) {
            .modal-content {
                width: 70%;
                height: 90%;
            }

            .image-group img {
              max-width: 30px !important; /* Reducimos el tamaño de las imágenes para dispositivos móviles */
            }



          #myModal1 .image-group1 img {
            max-width: 50px !important;
            margin: 5px;
            cursor: pointer;
          }

          #myModal1 .image-group1 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal3 .image-group3 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal3 .image-group3 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group3 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal4 .image-group4 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal4 .image-group4 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group4 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal5 .image-group5 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal5 .image-group5 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group5 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal6 .image-group6 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal6 .image-group6 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group6 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal7 .image-group7 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal7 .image-group7 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group7 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal8 .image-group8 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal8 .image-group8 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group8 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal9 .image-group9 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal9 .image-group9 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group9 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal10 .image-group10 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal10 .image-group10 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group10 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal11 .image-group11  {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal11 .image-group11 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group11 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal12 .image-group12 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal12 .image-group12 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group12 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal13 .image-group13 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal13 .image-group13 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          .image-group13 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal14 .image-group14 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal14 .image-group14 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal14 .image-group14 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal15 .image-group15 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal15 .image-group15 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal15 .image-group15 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal16 .image-group16 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal16 .image-group16 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal16 .image-group16 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal17 .image-group17 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal17 .image-group17 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal17 .image-group17 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

         #myModal18 .image-group18 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

         #myModal18 .image-group18 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

         #myModal18 .image-group18 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal19 .image-group19 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal19 .image-group19 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal19 .image-group19 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          #myModal20 .image-group20 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal20 .image-group20 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal20 .image-group20 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal21 .image-group21 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal21 .image-group21 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal21 .image-group21 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal22 .image-group22 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal22 .image-group22 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal22 .image-group22 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal23 .image-group23 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px;
          }

          #myModal23 .image-group23 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal23 .image-group23 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal24 .image-group24 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal24 .image-group24 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal24 .image-group24 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal25 .image-group25 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal25 .image-group25 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal25 .image-group25 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal26 .image-group26 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal26 .image-group26 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal26 .image-group26 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal27 .image-group27 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal27 .image-group27 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal27 .image-group27 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal28 .image-group28 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal28 .image-group28 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal28 .image-group28 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal29 .image-group29 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal29 .image-group29 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal29 .image-group29 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal30 .image-group30 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal30 .image-group30 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal30 .image-group30 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal31 .image-group31 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal31 .image-group31 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal31 .image-group31 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal32 .image-group32 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal32 .image-group32 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal32 .image-group32 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal33 .image-group33 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal33 .image-group33 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal33 .image-group33 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal34 .image-group34 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal34 .image-group34 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal34 .image-group34 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal35 .image-group35 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal35 .image-group35 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal35 .image-group35 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal36 .image-group36 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal36 .image-group36 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal36 .image-group36 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal37 .image-group37 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal37 .image-group37 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal37 .image-group37 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


        #myModal38  .image-group38 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

        #myModal38  .image-group38 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

        #myModal38  .image-group38 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal39 .image-group39 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal39 .image-group39 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal39 .image-group39 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal40 .image-group40 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal40 .image-group40 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal40 .image-group40 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          .navbar {
            position: sticky;
            top: 0;
            z-index: 100;
          }

          #guardarDatos {
            width:75% !important;
            justify-content: center;
            align-items:center;
          }

          #myModal41 .image-group41 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal41 .image-group41 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal41 .image-group41 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal42 .image-group42 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal42 .image-group42 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal42 .image-group42 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


         #myModal43 .image-group43 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

         #myModal43 .image-group43 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

         #myModal43 .image-group43 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal44 .image-group44 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal44 .image-group44 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal44 .image-group44 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }


          #myModal45 .image-group45 {
            display: flex !important;
            flex-wrap: wrap !important;
         justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */            margin-top: 20px !important;
          }

          #myModal45 .image-group45 img {
            max-width: 50px !important;
          cursor: pointer !important;
          }

          #myModal45 .image-group45 img:hover{
            border-color: #ff006a !important;
            border: solid;
          }

          }
