*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cormorant Garamond, serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #b7c3f3 !important;

}

.text-center {
  text-align: center !important;
  font-family: Cormorant Garamond, serif;
  text-transform: uppercase;

}


.navbar {
    width: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: #fff;
  }

.nav-link {
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

body {
    overflow-x:hidden;
}

.nav-link:hover {
    background: #cf1259;
    color: #ffffff !important;
}

.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }



.pages {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position:relative;
    width: 100%;
}

div {
    display: block;
}

#product-step {
    padding: 0.5rem 0;
    margin-top: 50px !important;
}

.pages .page-wrapper {
    width: 40vw;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;

}



  *, :after, :before {
    box-sizing: border-box;
}


.pages .page-wrapper .extra,
.pages .page-wrapper .index {
  position: absolute;
  left: 0;
  top: 0;
}



.pages .page-wrapper img {
    width: 250px !important;
    max-width: 300px !important;
    height: auto;
    border-radius: 0.3rem;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}



#product-step {
    padding: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 10px;
    overflow: hidden;
  }



  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }





.tittle-wrapper h3 {
  position: absolute;
  top: 0;
  color: black !important;
  z-index: 3 !important;
  font-size: 2vh !important;
  font-weight: bold !important;
  top:10px;
  left:20px;


  font-family: Cormorant Garamond, serif;
}

h1  {
  margin: 0;
  font-weight: bold !important;
}





h3{
    color:#000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h6{
    color:#2302c8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    position: relative;
    background-color:  #b7c3f3!important;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
  }

  .image-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
  }

  .image-group img {
    max-width: 120px;
    margin: 5px;
    cursor: pointer;
  }

  .image-group img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal1 .image-group1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
  }

  #myModal1 .image-group1 img {
    max-width: 120px !important;
    margin: 5px;
    cursor: pointer;
  }

  #myModal1 .image-group1 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal3 .image-group3 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal3 .image-group3 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group3 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal4 .image-group4 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal4 .image-group4 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group4 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal5 .image-group5 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal5 .image-group5 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group5 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal6 .image-group6 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal6 .image-group6 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group6 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal7 .image-group7 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal7 .image-group7 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group7 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal8 .image-group8 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal8 .image-group8 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group8 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal9 .image-group9 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal9 .image-group9 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group9 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal10 .image-group10 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal10 .image-group10 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group10 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal11 .image-group11  {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal11 .image-group11 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group11 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal12 .image-group12 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal12 .image-group12 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group12 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal13 .image-group13 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal13 .image-group13 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  .image-group13 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal14 .image-group14 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal14 .image-group14 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal14 .image-group14 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal15 .image-group15 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal15 .image-group15 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal15 .image-group15 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal16 .image-group16 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal16 .image-group16 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal16 .image-group16 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal17 .image-group17 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal17 .image-group17 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal17 .image-group17 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

 #myModal18 .image-group18 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

 #myModal18 .image-group18 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

 #myModal18 .image-group18 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal19 .image-group19 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal19 .image-group19 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal19 .image-group19 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  #myModal20 .image-group20 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal20 .image-group20 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal20 .image-group20 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal21 .image-group21 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal21 .image-group21 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal21 .image-group21 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal22 .image-group22 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal22 .image-group22 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal22 .image-group22 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal23 .image-group23 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px;
  }

  #myModal23 .image-group23 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal23 .image-group23 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal24 .image-group24 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal24 .image-group24 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal24 .image-group24 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal25 .image-group25 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal25 .image-group25 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal25 .image-group25 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal26 .image-group26 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal26 .image-group26 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal26 .image-group26 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal27 .image-group27 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal27 .image-group27 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal27 .image-group27 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal28 .image-group28 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal28 .image-group28 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal28 .image-group28 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal29 .image-group29 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal29 .image-group29 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal29 .image-group29 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal30 .image-group30 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal30 .image-group30 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal30 .image-group30 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal31 .image-group31 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal31 .image-group31 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal31 .image-group31 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal32 .image-group32 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal32 .image-group32 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal32 .image-group32 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal33 .image-group33 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal33 .image-group33 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal33 .image-group33 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal34 .image-group34 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal34 .image-group34 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal34 .image-group34 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal35 .image-group35 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal35 .image-group35 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal35 .image-group35 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal36 .image-group36 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal36 .image-group36 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal36 .image-group36 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal37 .image-group37 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal37 .image-group37 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal37 .image-group37 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


#myModal38  .image-group38 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

#myModal38  .image-group38 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

#myModal38  .image-group38 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal39 .image-group39 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal39 .image-group39 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal39 .image-group39 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal40 .image-group40 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal40 .image-group40 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal40 .image-group40 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  #guardarDatos {
    width:75% !important;
    justify-content: center;
    align-items:center;
  }

  #myModal41 .image-group41 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal41 .image-group41 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal41 .image-group41 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal42 .image-group42 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal42 .image-group42 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal42 .image-group42 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


 #myModal43 .image-group43 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

 #myModal43 .image-group43 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

 #myModal43 .image-group43 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal44 .image-group44 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal44 .image-group44 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal44 .image-group44 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }


  #myModal45 .image-group45 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: left !important;
    margin-top: 20px !important;
  }

  #myModal45 .image-group45 img {
    max-width: 120px !important;
    margin: 5px !important;
    cursor: pointer !important;
  }

  #myModal45 .image-group45 img:hover{
    border-color: #ff006a !important;
    border: solid;
  }



  h2{
    text-align: center;
    color: #ff006a;
    font-family: 'Lato', sans-serif !important;

  }

  .close1, .close2, .close3, .close4, .close5, .close6, .close7, .close8, .close9, .close10, .close11, .close12, .close13, .close14, .close15, .close16, .close17, .close18, .close19, .close20, .close21, .close22, .close23, .close24, .close25, .close26, .close27, .close28, .close29, .close30, .close31, .close32, .close33, .close34, .close35, .close36, .close37, .close38, .close39, .close40, .close41, .close42, .close43, .close44, .close45{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    font-weight: bold;
    color: #ff0000;
    padding: 5px 10px;
    cursor: pointer;
  }

  .custom-alert {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  }

  #loading-animation {
    position: fixed;
    top: 22%;
    left: 30%;
    width: 35%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que el GIF de carga esté en la parte superior */
  }




  .btn {
    background-color: #ff006a !important;
    border: solid;
    border-color: red !important;
    color: white;
    padding: 2px 4px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px !important;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
      font-family: 'Lato', sans-serif !important;
  }



  .btn:hover {
    background-color: #ff0000 !important;
    color: white;
    transform: translateY(-5px);
  }

  .insert-before-btn {
    background-color: #337ab7;
  }

  .insert-after-btn {
    background-color: #d9534f;
  }

  @media screen and (max-width: 768px) {
    .page-wrapper {
        width: 100%;
        left: 0;
    }

    .pages .page-wrapper img {
        width: 100% !important;
        max-width: 100% !important;
        margin-right: 0;
    }

    .page-wrapper #text-page21{
        top:-200px !important;
    }

    .tittle-wrapper  {
        width: 10% !important;
        left: 100px;
    }

    h1  {
        margin: 0;
        font-size: 2vh !important;
        font-weight: bold !important;
        color: #333;
      }

    .page-wrapper #text-page2  {
        position:absolute; top:-5px !important; margin-left: 8px !important;
      }

      .page-wrapper #text-page3  {
        position:absolute; top:-5px !important;
      }

      .page-wrapper #text-page4  {
        position:absolute; top:-5px !important;
      }

      .page-wrapper #text-page5  {
        position:absolute; top:-5px !important; margin-left: 15px !important;
      }

      .page-wrapper #text-page6  {
        position:absolute; top:-25px !important; margin-left: 12px !important;
      }

      .page-wrapper #text-page7  {
        position:absolute; top:-15px !important; margin-left: -8px !important;
      }

      .page-wrapper #text-page8  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page9  {
        position:absolute; top:-10px !important; margin-left: 12px !important;
      }

      .page-wrapper #text-page10  {
        position:absolute; top:-5px !important; margin-left: -8px !important;
      }

      .page-wrapper #text-page11 {
        position:absolute; top:-5px !important; margin-left: -8px !important;
      }

      .page-wrapper #text-page12  {
        position:absolute; top:-5px !important; margin-left: -8px !important;
      }

      .page-wrapper #text-page13 {
        position:absolute; top:-5px !important; margin-left: -8px !important;
      }

      .page-wrapper #text-page14  {
        position:absolute; top:-5px !important; margin-left: -8px !important;
      }

      .page-wrapper #text-page15  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page16  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page17  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page18  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page19  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page20 {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page21  {
        position:absolute; top: 140px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page22  {
        position:absolute; top:-15px !important; margin-left: -8px !important;
      }

      .page-wrapper #text-page23 {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page24  {
        position:absolute; top:70px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page25  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page26  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page27  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page28  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page29  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page30  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page31 {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page32  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page33 {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page34  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page35  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page36  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page37  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page38  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page39  {
        position:absolute; top:-14px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page40  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page41  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page42  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page43  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page44  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }

      .page-wrapper #text-page45  {
        position:absolute; top:-5px !important; margin-left: -5px !important;
      }



    .page-wrapper font{
        font-size: 1.8vh;

    }


}

