
.navbar {
    width: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: #fff;
  }

.nav-link {
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

body {
    overflow-x:hidden;
}

.nav-link:hover {
    background: #cf1259;
    color: #ffffff !important;
}

.line-title {
    margin-left: 30%;
    margin-right: 30%;
}

.line-main {
    margin: 0rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }



  body {
    background-color: #b7c3f3 !important;
  }

  .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-12.pages .page-wrapper img:hover {
    cursor: pointer;
    box-shadow: 0 0 50px rgba(141, 2, 254, 0.3);

}

h1{
    color:#cf1259;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#2a055e;
    text-align: center;
}

.smaller-text {
    font-size: 5vh !important;
}

.select {
    border: 2px solid;
    border-image: linear-gradient(to right, #ff00ff, #e20404);
    border-image-slice: 1;
    padding: 8px;
    border-radius: 4px;
}


  .pages .page-wrapper .extra,
.pages .page-wrapper .index {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  margin-top: 2px;
  margin-right: 5px;
  justify-content: center; /* Centra horizontalmente las imágenes */
  align-items: center; /* Centra verticalmente las imágenes */
  font-size: 12px;
}

.page-wrapper{
    width: 120vh;
    position: relative;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}



.pages .page-wrapper img {
    width: 90% !important;
    max-width: 300px !important;
    height: auto;
    border-radius: 0.3rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tittle-wrapper h3{
    position:absolute; text-align:center; top:6%; left:25%; display:flex; justify-content:center; flex-direction: column; align-items:center; max-height: 28%; font-family: 'Lato', sans-serif; z-index: 6; font-size: 1.5vw !important;

  }








  .btn-primary {
    background-color: #ff00e1 !important;
    color: #fdfdfd !important;
    border-color: #bb0000 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    margin: 5px 0px;
    margin-left: 4px !important;
}


.btn-primary:hover {
    background-color: #4cb9f8 !important;
    border-color: #6003ac !important;
    color: #fff !important;
}


@media (max-width: 768px) {
    .tittle-wrapper h3{
      font-size: 0.6rem;
      position: absolute;
      top: 0;
      left: 8vw;
      text-align: center;
    }

    .pages .page-wrapper img {
        width: 100% !important;
        max-width: 300px !important;
        height: auto;
        border-radius: 0.3rem;
        margin-right: 10px;
        margin-bottom: 10px;
    }

  }








